.TestCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 10rem; */
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s;
} 

@media (max-width: 768px) {
    .TestCard {
        width: calc(50% - 40px);
    }
}
@media (max-width: 480px) {
    .TestCard {
        width: 100%;
        margin: 20px 0;
    }
}

.Testtitle {
    width: 100%;
    height: auto;
    font-family: 'Be Vietnam Pro',sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(51, 51, 51, 1);
    margin: 0;
}
    
.Testdescription {
    font-family: 'Be Vietnam Pro',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(76, 76, 77, 1);
    padding-bottom: 5px;
     border-bottom: 1px solid rgba(241, 241, 243, 1);


}
.Testicon {
    width: 50px;
    height: 50px;
    gap: 0px;
    border-radius: 6px ;
    opacity: 0px;

}