
/* Button.css */
.custom-button1 {
    font-family: 'Be Vietnam Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    Width : auto;
    Height : 45px;
    border: 0;
    gap: 0px;
    opacity: 0px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    opacity: 0px;
    cursor: pointer;
    background: white;
    color: rgba(38, 38, 38, 1);
    border-radius: 6px;
    border: 1px solid rgba(241, 241, 243, 1);
  }

  .custom-button3 {
    font-family: 'Be Vietnam Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    Width : 100%;
    Height : 45px;
    border: 0;
    gap: 0px;
    opacity: 0px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    opacity: 0px;
    cursor: pointer;
    background: rgba(247, 247, 248, 1);
    color: rgba(38, 38, 38, 1);
    border-radius: 6px;
  }

  .custom-button2 {
    font-family: 'Be Vietnam Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    Width : auto;
    Height : 45px;
    border: 0;
    gap: 0px;
    opacity: 0px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    opacity: 0px;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 6px;
    background: #FF9500;
  }
  
  .custom-button1:hover {
    background-color: #F1F1F3; 
  }
  
  .custom-button1:focus {
    box-shadow: 0 0 0 4px rgba(224, 236, 235, 0.4); 
  }
  .custom-button3:hover {
    background-color: #F1F1F3; 
  }
  
  .custom-button3:focus {
    box-shadow: 0 0 0 4px rgba(224, 236, 235, 0.4); 
  }