
.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;                           
    font-weight: 400;
    line-height: 21px;                         
    text-align: center;
    width: Fill (1,400px)px;
    height: Hug (41px)px;
    margin: 10px;
    padding: 10px; 
    gap: 23px;
    border-radius: 6px;
    opacity: 0px;
    background: #FF9500; 
    color: white;                
}
.text {
    display: flex;
    align-items: center;
    justify-content: center;
}





