.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(204, 200, 200);
    position: relative;
    bottom: 0;
    padding: 20px;
}

.item1, .item2, .item3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 10px;
    font-weight: 100;
    text-align: left;
    color: rgba(89, 89, 90, 1);
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
    padding-left: 50px;
}

.item2 {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.item3 {
    grid-column: 4;
    grid-row: 1 / span 4;
}

.item4 {
    grid-column: 5;
    grid-row: 1 / span 4;

    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 10px;
    font-weight: 100;
    text-align: left;
    color: rgba(89, 89, 90, 1);
}

.item5 {
    grid-column: 1 / span 5;
    grid-row: 5;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: rgba(101, 101, 103, 1);
}

.bold {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(38, 38, 38, 1);
    margin-bottom: 10px;
    margin-top: 25px;
}

.css-vkhk1j {
    display: inline;
    height: 40px;
    padding: 14px;
    gap: 10px;
    border-radius: 8px;
    opacity: 1;
}

.footersvg {
    display: flex;
    justify-content: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 5px;
}

.logo1 {
    height: 3rem;
    width: auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    .footer {
        grid-template-columns: repeat(3, 1fr);
    }

    .item1 {
        grid-column: 1 / span 3;
        grid-row: 1;
        padding-left: 0;
    }

    .item2, .item3, .item4 {
        grid-column: auto;
        grid-row: auto;
    }

    .item5 {
        grid-column: 1 / span 3;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .item1, .item2, .item3, .item4 {
        grid-column: span 1;
        margin-bottom: 20px;
    }

    .item5 {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        grid-template-columns: 1fr;
    }

    .item1, .item2, .item3, .item4, .item5 {
        grid-column: 1;
    }
}